* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #1e1e24;
}

::-webkit-scrollbar-thumb {
  background: #db0000;
}

::-webkit-scrollbar-thumb:hover {
  background: #831010;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #0d1117;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}