.not-found {
  width: 100%;
  height: calc(100vh - 60px);
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found h1 {
  font-size: 10rem;
  font-weight: 700;
  margin-bottom: 0;
}

.not-found a {
  text-decoration: none;
  background-color: #db0000;
  color: #fff;
  padding: 10px;
  margin-top: 1rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.not-found a:hover {
  background-color: #831010;
}